@import "imports/typography.css";
@import "imports/global_styles.css";

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  background: var(--bg-yellow);
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'nav'
  'main'
  'footer';
  margin: 0px;
}

main section {
  background-color: var(--yellow-box);
  padding: 30px 60px;
  max-width: 50%;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 15px #9E7F02;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  place-items: center end;
}

h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

main img {
  max-width: 250px;
  margin-right: 50px;
}

@media only screen and (max-width: 1300px) {
  main section {
    grid-template-columns: 1fr auto;
    gap: 30px;
    max-width: 75%;
  }

  main img {
    margin: 0px;
  }
}

@media only screen and (max-width: 900px) {
  main section {
    max-width: 100%;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 0px 20px 50px 20px;
    gap: 15px;
  }

  h2 {
    font-size: 1.3em;
  }

  main img {
    justify-self: center;
  }
}

@media only screen and (max-width: 500px) {
  main section {
    max-width: 100%;
    margin: 15px 15px 30px 15px;
    border-radius: 15px;
    padding: 15px 15px 20px 15px;
  }

  main img {
    max-width: 190px;
  }

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
}