@import "imports/typography.css";
@import "imports/global_styles.css";

header {
  grid-area: header;
}

main {
  grid-area: main;
  background-color: var(--bg-pink);
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  margin: 0px;
}

main {
  padding-bottom: 50px;
}

/*top*/
.top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
  width: 70%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 10px;
}

main .left-side img {
  max-width: 250px;
  margin-top: 10px;
}

main .hours {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  justify-content: left;
}

.day p {
  font-weight: 500;
}

.p1, .p3, main .hours {
  margin-bottom: 30px;
}

.p2 {
  margin: 20px 0px;
}

.right-side {
  border-left: 2px solid var(--black);
  padding-left: 20px;
  height: fit-content;
  height: -moz-fit-content;
}

/*bottom / contact*/

.button-submit {
  text-align: center;
  margin-top: 30px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.left-contact, .right-contact {
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
}

form input, #request {
  border: 2px solid var(--black);
  border-radius: 3px;
  padding-left: 5px;
  margin: 5px 0px 20px 0px;
  font-size: 1em;
  font-weight: 400;
  font-family: 'montserrat', 'verdana';
}

form input {
  height: 1.6em;
}

.left-contact {
  justify-self: end;
}

.right-contact {
  height: max-content;
}

textarea {
  height: 95px;
  padding-top: 5px;
}

@media only screen and (max-width: 1300px) {
  .top {
    width: 85%;
  }
}

@media only screen and (max-width: 1150px) {
  .top {
    width: 95%;
  }

  .left-contact, .right-contact {
    width: 300px;
  }

  form {
    grid-gap: 30px;
  }

  main {
    padding: 0px 70px 50px 70px;
  }

  main .left-side img {
    max-width: 200px;
  }

  .right-side {
    height: 100%;
  }

  .contact h1 {
    margin-top: 40px;
  }

  .left-side .time {
    justify-self: center;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding: 0px 20px 50px 20px;
  }

  .top {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
  }

  .hours {
    gap: 20px;
  }

  .right-side {
    border: none;
    margin-top: 20px;
    padding: 0px;
  }

  main .left-side img {
    max-width: 150px;
  }

  form {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .right-contact, .left-contact {
    justify-self: center;
  }
}

@media only screen and (max-width: 500px) {
  h2, h3 {
    font-size: 1.3em;
  }
  .left-side {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 0px;
    margin: auto;
  }

  .left-contact, .right-contact {
    width: 250px;
  }

  .contact label {
    font-size: 0.9em;
  }
}