@import "imports/typography.css";
@import "imports/global_styles.css";

header {
  grid-area: header;
}

main {
  grid-area: main;
  background-color: var(--bg-pink);
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  margin: 0px;
}

main {
  padding-bottom: 50px;
}

/*top*/
.top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px;
  width: 70%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 10px;
}

main .left-side img {
  max-width: 250px;
  margin-top: 10px;
}

main .hours {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  justify-content: left;
}

.day p {
  font-weight: 500;
}

.p1, .p3, main .hours {
  margin-bottom: 30px;
}

.p2 {
  margin: 20px 0px;
}

.right-side {
  border-left: 2px solid var(--black);
  padding-left: 20px;
  height: fit-content;
  height: -moz-fit-content;
}

/*bottom / contact form*/

.contact {
  display: grid;
  justify-content: center;
}

.contact-heading {
  text-align: center;
  margin-top: 50px;
}

.form-label {
  display: grid;
}

input, textarea {
  width: 25rem;
  border: 2px solid var(--purple-box);
  border-radius: 5px;
  padding: 0 0 0 3px;
}

input {
  height: 1.5rem;
}

span {
  margin: 20px 0 3px 0;
}

.form-error {
  color: rgb(145, 6, 6);
  margin-top: 5px;
}

.form-error, .submit {
  font-weight: 500;
}

.submit {
  display: block;
  margin: 30px auto 0 auto;
}

@media only screen and (max-width: 1300px) {
  .top {
    width: 85%;
  }
}

@media only screen and (max-width: 1150px) {
  .top {
    width: 95%;
  }

  main {
    padding: 0px 70px 50px 70px;
  }

  main .left-side img {
    max-width: 200px;
  }

  .right-side {
    height: 100%;
  }

  .contact-heading {
    margin-top: 40px;
  }

  .left-side .time {
    justify-self: center;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding: 0px 20px 50px 20px;
  }

  .top {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
  }

  .hours {
    gap: 20px;
  }

  .right-side {
    border: none;
    margin-top: 20px;
    padding: 0px;
  }

  main .left-side img {
    max-width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  input, textarea {
    width: 100%;
  }

  h2 {
    font-size: 1.3em;
  }

  .left-side {
    grid-template-columns: 1fr;
    justify-items: start;
    gap: 0px;
    margin: auto;
  }

  .contact label, form p, .requirement {
    font-size: 0.9em;
  }
}