@media only screen and (max-width: 900px) {

  /*header / nav*/
  header {
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
  }

  .hamb-menu {
    border-style: none;
    padding-right: 20px;
  }

  nav, .bar {
    display: none;
  }

  nav {
    position: absolute;
    top: 0; 
  }

  #hamburger-menu, nav .nav-contact {
    display: block;
  }

  .fa-bars {
    margin: 0px 0px 5px 20px;
    font-size: 1.8em;
  }

  header section {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  header img {
    max-width: 150px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  nav li {
    margin: 0px;
    padding: 5px 10px;
  }

  nav li:nth-child(odd) {
    background-color: var(--white);
  }

  nav .active {
    border-radius: 0;
    font-weight: 600;
  }

  h1 {
    font-size: 1.8em;
  }

  /*footer*/
  .footer-content {
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 20px;
    margin-left: 30px;
  }

  .left, .middle, .right {
    justify-self: start;
  }

  .left .hours, .middle .contact,
  .middle .involve, .follow {
    font-size: 1.4em;
  }

  .middle ul a {
    font-size: 1em;
  }
}