body, textarea, .form-error {
  font-family: "Montserrat", "verdana", "sans-serif";
  font-size: 1em;
}

.button, h1, h2, h3,
.left .hours, .middle .contact,
.middle .involve, .follow {
  font-family: "Blinker", "verdana", "sans-serif";
}

p, a, .bar {
  text-decoration: none;
  line-height: 1.8em;
}

p, a, .bar, label span, input, textarea {
  font-size: 1.1em;
}

h1, h2, h3 {
  font-weight: 500;
}

.contact-heading {
  font-size: 2rem;
}

.left .hours, .middle .contact,
.middle .involve, .follow {
  font-size: 1.5em;
}

p, a, .bar, label span, body, textarea, .form-error {
  color: #0C151C;
}